/* @keyframes ldio-sy4uj1dbwje {
  0% {
    background: #f8b26a
  }

  12.5% {
    background: #f8b26a
  }

  12.625% {
    background: #e15b64
  }

  100% {
    background: #e15b64
  }
}

.ldio-sy4uj1dbwje div {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #e15b64;
  animation: ldio-sy4uj1dbwje 1s linear infinite;
}

.loadingio-spinner-blocks-v10wno6wn79 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  margin: auto;
}

.ldio-sy4uj1dbwje {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;

}

.ldio-sy4uj1dbwje div {
  box-sizing: content-box;
}
 */

@keyframes ldio-sy4uj1dbwje {
  0% {
    background: #f8b26a;
  }

  12.5% {
    background: #f8b26a;
  }

  12.625% {
    background: #BD2323;
  }

  100% {
    background: #BD2323;
  }
}

.ldio-sy4uj1dbwje div {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #e15b64;
  animation: ldio-sy4uj1dbwje 1s linear infinite;
}


.custom-loadingio-spinner {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.ldio-sy4uj1dbwje {
  width: 200px;
  height: 200px;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-sy4uj1dbwje div {
  box-sizing: content-box;
}

.loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  /* Adjust the font size as needed */
  color: #ffffff;
  /* Adjust the text color as needed */
}

.custom-loader {
  width: 140px;
  height: 52px;
  background: #F41818;
  border-radius: 100px;
  --c: radial-gradient(farthest-side, #000 92%, #0000);
  --s: 36px 36px;
  -webkit-mask:
    var(--c) left 8px top 50%,
    var(--c) center,
    var(--c) right 8px top 50%,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  animation: cu1 1.5s infinite;
}

@keyframes cu1 {
  0% {
    -webkit-mask-size: 0 0, 0 0, 0 0, auto
  }

  16.67% {
    -webkit-mask-size: var(--s), 0 0, 0 0, auto
  }

  33.33% {
    -webkit-mask-size: var(--s), var(--s), 0 0, auto
  }

  50% {
    -webkit-mask-size: var(--s), var(--s), var(--s), auto
  }

  66.67% {
    -webkit-mask-size: 0 0, var(--s), var(--s), auto
  }

  83.33% {
    -webkit-mask-size: 0 0, 0 0, var(--s), auto
  }

  100% {
    -webkit-mask-size: 0 0, 0 0, 0 0, auto
  }
}