.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}


.date-update {
    font-size: 18px;
    border-width: 1px;
    color: #e81616;
    border-color: #d6bcd6;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 4px 0px 0px #b9aeae;
    text-shadow: 0px 1px 0px #e1e2ed;
    background: linear-gradient(#ededed, #bab1ba);
}

.date-update:hover {
    background: linear-gradient(#bab1ba, #ededed);
}

.react-date-picker__wrapper {
    border: 0
}