body {
  font-family: 'Mitr';
  background-color: #e9ecef;
}

code {
  font-family: 'Mitr';
}

.dropdown-menu {
  min-width: 4rem;
}

.active {
  background: linear-gradient(136.85deg, rgb(255, 55, 242) -15.82%, rgb(64, 90, 255) 99.57%);
  color: white;
  padding: 0px 6px 0px 6px;
  border-radius: 4px;
}
.active:hover{
  color: rgb(250, 232, 208);
}